langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
pandas
numpy
gradio
huggingface_hub
python-dotenv
jinja2
starlette
fastapi
